@(task: Task, priority: Priority, page: String, showDeleteBtn: Boolean = true, showCompleteBtn: Boolean = true)

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="card w-75">
        <div class="card-body">
            <div class="row">
                <div class="col-11"><h5 class="card-title">@task.title</h5></div>
                <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" style="color: @{priority.color}" viewBox="0 0 16 16">
                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                    </svg>
                </div>
            </div>
            <p class="card-text text-muted">@task.description</p>
            <div class="row">
                <div class="col-10 text-muted">Выполнить до: <span class="text-decoration-underline">@task.dueDate.toString("HH:mm")</span></div>
                <div class="col-1 ps-4">
                    <form id="removeTask-@{task.id}" @@submit="removeTask">
                        <button type="submit"  class="btn btn-sm @{ if(!showDeleteBtn) "btn-outline-secondary" else "btn-outline-danger" }" type="button" @{ if(!showDeleteBtn) "disabled" }>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="col-1 p-0">
                    <form id="completeTask-@{task.id}" @@submit="completeTask">
                        <button type="submit" class="btn btn-sm @{ if(!showCompleteBtn) "btn-outline-secondary" else "btn-outline-success" }" type="button" @{ if(!showCompleteBtn) "disabled" }>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#completeTask-@{task.id}',
            methods: {
                completeTask: function (e) {
                    e.preventDefault();

                    axios({
                        method: 'post',
                        url: '/api/tasks/' + @{task.id} + '/complete',
                        headers: { "Content-Type": "application/json" },
                    })
                    .then(function () {
                        window.location = "@{ '/' + page }";
                    })
                }
            }
        });
        new Vue({
            el: '#removeTask-@{task.id}',
            methods: {
                removeTask: function (e) {
                    e.preventDefault();

                    axios({
                        method: 'delete',
                        url: '/api/tasks/' + @{task.id} + '/delete',
                        headers: { "Content-Type": "application/json" },
                    })
                            .then(function () {
                                window.location = "@{ '/' + page }";
                            })
                }
            }
        })
    </script>
</div>